.smallSizeWidth{
  padding-top:30px ;
}

.MainChildStyle{
  padding-top:50px ;
}

.FooterHeading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.FirstChildLink {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9F9F9F;
}

.SecondChildLink{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.FooterLinks {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9f9f9f;
}

.bottom {
  margin: 30px auto;
  border-top: 1px solid rgb(219, 217, 217);
  padding-top: 20px;
}

.FooterChilds {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.FooterChildsUl {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Input{
  width: 200px;
  height: 30px;
  border-bottom: 1px solid #000000;
  outline: none;

}

.NewsLetterSubscribe{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* border-top: 1px solid #000000; */
  width: 75.01px;
  height: 14px;
  gap: 0px;
  opacity: 0px;
  text-decoration: underline;
  cursor: pointer;

}


.bottomStyle{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.mainStyleDiv{
  padding: 0 30px;
}

@media only screen and (min-width:300) and (max-width:880){
    .MainChildStyle{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .FooterChilds{
      display:flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      /* border-bottom: 1px solid grey; */
      width: 100%;
    }

    .FooterChildsUl{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 40px;

      }


    .FooterLinks {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #9f9f9f;
    }

    .Subscribe{
      display: flex;
      align-items: end;
    }

    .NewsLetterSubscribe{
      margin-bottom: 4px;
    }
    

}

@media only screen and (min-width:300) and (max-width:589){
  .FooterChildsUl{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FooterLinks {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #9f9f9f;
  }

  .TextStyle{
    text-align: center;
  }
}