@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+AU+VIC+Guides&family=Playwrite+TZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yuji+Mai&display=swap');


.shadow{
  box-shadow: 0px 4px 6px rgb(170, 165, 165);
}

.logoFont{
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 34px;
}

.linksFont{
  font-family: 'Poppins';
}

.bedge{
  text-align: center;
  font-size: 8px;
  background: red;
  width: 15px;
  height: 15px;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  margin-top: -10px;
}

.Search{
  outline: none;
  border: 0.5px solid grey;
  border-radius: 5px;
  height: 30px;
  padding: 10px;
  font-family: 'Poppins';
}

.SearchBtn{
  width: 100px;
  height: 40px;
  border: 1px solid #000;
  margin-top: 10px;
  border-radius: 5px;
}