.contactHeading{
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}


.contactDetail{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9F9F9F;
  margin: 0 auto;
  width: 50%;
}


/*! Form Side */

.title{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.titleDetail{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 200px;
}

.label{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 20px;
}

.input{
  width: 528.75px;
  height: 75px;
  top: 802px;
  left: 668.25px;
  gap: 0px;
  border-radius: 10px;
  border: 1px solid #9F9F9F;
  opacity: 0px;
  outline: none;
  padding-left: 20px;

}

.btn{
  width: 237px;
  height: 55px;
  top: 1442px;
  left: 673px;
  gap: 0px;
  border-radius: 5px;
  border: 1px solid #B88E2F;
  opacity: 0px;
  background-color: #B88E2F;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-top: 40px;
}


@media only screen and (min-width: 801) and (max-width: 950){
  .input{
    width: 528.75px;
    height: 75px;
    top: 802px;
    left: 668.25px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    opacity: 0px;
    outline: none;
    padding-left: 20px;
  
  }


  .smallSizeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
  }

  .input{
    width: 350px;
    height: 75px;
    top: 802px;
    left: 668.25px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    opacity: 0px;
    outline: none;
    padding-left: 20px;
    
  }

  .title{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .streetDetail{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .Street{
    padding-left: 0;
  }


  .titleDetail{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 200px;
  }


  .btn{
    width: 350px;
    height: 55px;
    gap: 0px;
    border-radius: 5px;
    border: 1px solid #B88E2F;
    opacity: 0px;
    background-color: #B88E2F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 450) and (max-width: 800){

  .input{
    width: 528.75px;
    height: 75px;
    top: 802px;
    left: 668.25px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    opacity: 0px;
    outline: none;
    padding-left: 20px;
  
  }


  .smallSizeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .input{
    width: 330px;
    height: 75px;
    top: 802px;
    left: 668.25px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    opacity: 0px;
    outline: none;
    padding-left: 20px;
    
  }

  .title{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .streetDetail{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .Street{
    padding-left: 0;
  }


  .titleDetail{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 200px;
  }


  .btn{
    width: 350px;
    height: 55px;
    gap: 0px;
    border-radius: 5px;
    border: 1px solid #B88E2F;
    opacity: 0px;
    background-color: #B88E2F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-top: 40px;
  }
}




@media only screen and (min-width:300) and (max-width: 449){
  .smallSizeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -7vw;
  }

  .input{
    width: 270.75px;
    height: 75px;
    top: 802px;
    left: 668.25px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    opacity: 0px;
    outline: none;
    padding-left: 20px;
    
  }

  .title{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .streetDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Street{
    padding-left: 0;
  }


  .titleDetail{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 200px;
  }

  .btn{
    width: 270px;
    height: 55px;
    top: 1442px;
    left: 673px;
    gap: 0px;
    border-radius: 5px;
    border: 1px solid #B88E2F;
    opacity: 0px;
    background-color: #B88E2F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-top: 40px;
  }
}


