.filter{
  background: #F9F1E7;
  height: 100px;
  display: flex;
}

.filterHeading{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.showing{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.showingData {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.showNumber{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9F9F9F;

}


@media only  screen and (min-width:1401) and (max-width:2000){
  .filter{
    height:100px;
    display: flex;
  }
}

@media only  screen and (min-width:500) and (max-width:950) {
  .smallScreenSize{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
  }


  .smallScreenSizeCard{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0px;
  }

  .filter{
    
      height:150px;
      display: flex;
    
  }

  .smallScreenSizeCard{
    display: flex;
    flex-wrap: wrap;
  }
}


.SearchBtn{
  width: 100px;
  height: 40px;
  border: 1px solid #000;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 15px;
}

@media only  screen and (min-width:300) and (max-width:499) {
  .smallScreenSize{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0px;
    /* height: 300px; */
  }

  .filter{
    height:auto;
    display: flex;
    flex-direction: column;
  }

  .smallSize{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .smallScreenSizeCard{
      display: flex;
      flex-wrap: wrap;
  }
}